* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url(/images/back6.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 10vh;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    h2 {
        text-align: start;
        justify-self: start;
        color: #060505;
        font-size: 1.2rem;
    }
}
#main {
    display: grid;
    place-items: center;
    padding-left: 90px;

    h1 {
        color: #1a1717;
        // background-color: white;
        padding: 10px;
        font-size: 60px;
        font-weight: 800;
    }
}
.main_section {
    display: grid;
    justify-self: start;
    place-items: center;
    padding-left: 90px;
    margin: 30px;
    width: 60%;
    .main {
        display: grid;
        justify-self: start;
    }
}
