#header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 10vh;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    h2 {
        text-align: start;
        justify-self: start;
        color: #c2c2c2;
        font-size: 1.2rem;
    }
    nav {
        width: 70%;
        display: grid;
        justify-self: end;
        position: relative;
        a {
            justify-self: end;
            width: 95px;
            grid-template-columns: 1fr 1fr;
            gap: 11px;
            display: grid;
            place-items: center;
            text-decoration: none;
            color: black;
        }
        img {
            width: 20px;
            justify-self: end;
        }
    }
}
