* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url(/images/back4.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 10vh;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    h2 {
        text-align: start;
        justify-self: start;
        color: #db1717;
        font-size: 1.2rem;
    }
}
#main {
    display: grid;
    place-items: center;
    padding-left: 400px;
    min-height: 80vh;
    h1 {
        color: #1a1717;
        background-color: rgb(241, 184, 184);
        padding: 10px;
    }
    p {
        color: #260707;
        padding: 10px;
        font-size: 40px;
        font-weight: 900;
        text-decoration: underline;
        justify-self: start;
    }
}
.main_section {
    display: grid;
    justify-self: start;
    align-self: end;
    place-items: center;
    cursor: pointer;
    grid-template-columns: 1fr 1fr 1fr;
    .main {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        div {
            width: 148px;
            h2 {
                text-align: center;
            }
        }
        .selection {
            width: 92px;
            background-color: #f1f3f6;
            border: none;
            border-radius: 15px;
            text-align: center;
            color: rgb(27, 26, 26);
            font-weight: 700;
            padding: 7px;
            transition: background-color 0.5s ease;
            box-shadow: 0 1px 0 #b2b3b4;

            &:hover {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
            }
            &:active {
                transform: translateY(1px);
                box-shadow: none;
            }
        }
    }
}
